.image-container {
    display: inline-block;
}

.hover-image {
    transition: transform 0.3s, filter 0.3s; /* Smooth transition */
}

.hover-image:hover {
    transform: scale(1.1); /* Scale up the image */
    filter: brightness(1.5); /* Lighten the image */
}